<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDownApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narrow It Down</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .empty-message {
            font-size: 1.2em;
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
    <div ng-controller="NarrowItDownController as ctrl">
        <h1>Find Your Meal!</h1>
        <div>
            <input type="text" placeholder="Enter search term" ng-model="ctrl.searchTerm">
            <button ng-click="ctrl.narrowItDown()">Narrow It Down For Me!</button>
        </div>
        <div class="message" ng-if="ctrl.emptyMessage">{{ ctrl.emptyMessage }}</div>
        <found-items items="ctrl.found" on-remove="ctrl.removeItem(index)"></found-items>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
